body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}

.timer-container{
    width: 350px;
    height: 230px;
    background-color: gainsboro;
    text-align: center;
    border-radius: 5px;
}

.timer-container h2{
    font-size: 45px;
    margin-top: 15px;
    letter-spacing: 1.5px;
}

.timer-container h1{
    font-size: 50px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btn {
    width: 80px;
}